/*CSS configuration for Delete User*/

div.app-delete-user-box{
    color: gray;
    font-size: 18px;
    text-align: center;
}

div.app-delete-buttons-container button{
    margin-left: 20px;
}
div.app-delete-buttons-container {
    margin-top: 30px;
    margin-bottom: 30px;
}