body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', Arial;
  font-family: 'Open Sans', sans-serif;
}



.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

  /*Remove default gutter from bootstrap*/

div.container-fluid{
      padding-right: 0px;
      padding-left: 0px;
      margin-right: 0px;
      margin-left: 0px;
}


div.app-title-main{
  height: 60px;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;  
  box-shadow: 5px 5px 5px 2px #888888;
  background-color: rgba(255, 255, 255, 0.9);
  color: gray;
  border-radius: 2px;
}


div.app-component-display{
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px #888888;
}


div.app-container{

}

div.app-component-adduser{
    margin : auto;
    position: relative;
    top: -20px;
    
}

div.app-container button{
    border-radius: 50%;
    background-color: rgba(117, 117, 117, 1);
    border: 0px;
}

div.app-container button.app-button-user{
    border-radius: 50%;
    border: 0px;
    width: 100px;
    height: 100px;
    font-size: 40px;
}

div.app-user-list-description {
  color: gray;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}

div.app-user-list{
  height: 40px;
  line-height: 40px;
  text-align: center;
}


div.app-user-list button{
  height: 40px;
  width: 40px;
  text-align: center;
}


/*FIX BOOTSTRAP */
button.btn-primary:focus{
  box-shadow: 0px;
}
button.btn:focus{
  box-shadow: 0px;
}
.btn-primary:focus .btn.focus, .btn:focus{
  box-shadow: 0px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
button.close .btn button.close:active{
  outline: none !important;
  box-shadow: none !important;
}

/*THIS REMOVE DE OUTLINE BLUE BOOTON WHEN CLICKED*/
button:focus { outline: none; }