/*CSS file for the New User box modal*/

label.form-label{
    width: 100px;
}

div.form-group{
    margin-top: 10px;
}

div.modal-content{
    color: gray;
}

button.close{
    background-color: gray;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding-top: 20px;
    position: relative;
    top: 10px;
    right: 10px;
}

button.close span:first-child{
    color: white;
    position: relative;
    top: -13px;
    right: 7px;
}

div.new-user-save-container{
    margin-left: 63%;
}

div.form-group p{
    font-size: 14px;
    color: red;
    display: none;
}

div.form-group p.error-check-email{
    display: block;
}